<span style="color:green">1. Import the necessary package to <span>
<span style="color:green">a. Set the current working directory<span>
<span style="color:green">b. Change the working directory<span>

In [2]:
import os

In [3]:
os.getcwd()

'/home/kiran/D_Drive_backup/DataWorld/Data_Science/Python/Python_Assignments'

In [4]:
os.chdir('/home/kiran/D_Drive_backup/DataWorld/Data_Science/Python/')

In [5]:
os.getcwd()

'/home/kiran/D_Drive_backup/DataWorld/Data_Science/Python'

<span style="color:green">2. Create the string, int and float variable and delete them all in the next cell<span>

In [6]:
s = 'kiran'
i = 4
f = 5.23

In [7]:
del s,i,f

<span style="color:green">3. What’s the result of assigning a value to a ‘keyword’?<span>
    <span style="color:green">a. Please highlight the error<span>

In [14]:
for = 23

SyntaxError: invalid syntax (3556012459.py, line 1)

<span style="color:green">4. How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)<span>

In [21]:
#Multi line number expression
s = (2 + 3 + 
     4 + 5)
s

14

In [28]:
#Multi-line string expression
Thanks = '''Thanks Imran for reviewing my 
code'''
Thanks

'Thanks Imran for reviewing my \ncode'

<span style="color:green">5. Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers<span>

In [29]:
for i in range(100,1000,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

<span style="color:green">6. Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’<span>

In [33]:
n=6
for i in range(n):
    if n/2 == i:
        break
    else:
        print(i)

0
1
2

<span style="color:green">7. Write a simple function and call the docstring from outside the function<span>

In [38]:
def str_sum(a,b):
    '''This function will add two string values and return the resulting string'''
    return a+' '+ b

str_sum.__doc__

'This function will add two string values and return the resulting string'

<span style="color:green">8. Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last<span>
<span style="color:green"><< Formula to calculate semi-perimeter: s = (a+b+c )/2<span>
<span style="color:green"><< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >><span>
<span style="color:green">a. 15<span>
<span style="color:green">b. 51<span>
<span style="color:green">c. 17<span>

In [44]:
from assignment1_package.inputs import a,b,c
s = (a+b+c)/2
s

41.5

In [45]:
area = (s*(s-a) * (s-b) * (s-c)) ** 0.5
area

(3.097937745838546e-14+505.93162828587816j)

<span style="color:green">9. Write a list comprehension to print the odd numbers from 0 to 100<span>

In [40]:
[i for i in range(0,100) if i%2 == 1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]


<span style="color:green">10.  Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)<span>
<span style="color:green">a. Ex: name = Imran<span>
<span style="color:green">b. Output = [‘m’, ‘r’, ‘n’]<span>

In [41]:
name = 'srinivas kiran'
[i for i in name if i not in ('a', 'e', 'i', 'o', 'u')]

['s', 'r', 'n', 'v', 's', ' ', 'k', 'r', 'n']

#### THANK YOU IMRAN