
Please follow the below instructions for the assignment and upload the answers in your Github profile using the Jupyter notebook:

  
 




    
   


Good luck! üòä

1. Get the input for 2 variables though ‚Äúinput‚Äù function and pass them to a function to return the addition of two variables

In [1]:
def input(x,y):
    return x+y

In [2]:
input(2,3)

5

2. What happens if we try to add an int with str and vice versa. Please print out the error

In [4]:
2 + 'hello'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
'hello' + 4

TypeError: can only concatenate str (not "int") to str

3. Create a string variable for the word ‚ÄúData Science‚Äù and see if the letter ‚Äús‚Äù is present in it using membership operators

In [6]:
s = 'Data Science'

In [23]:
if s.find('s') != -1 :
    print('Present')
else:
    print('Not present')

Not present

   4. Write a function and pass a number list as an argument to the function. And return¬†True¬†if the first and last number of a given list is same. If numbers are different then return¬†False

In [37]:
def comp(l):
    if len(l) ==0:
        print("Please pass some data in the list")
        return
    if l[0] == l[len(l)-1]:
        return True
    else:
        return False

In [25]:
comp([2,2])

True

In [26]:
comp([2])

True

In [38]:
comp([])

Please pass some data in the list

In [42]:
comp([3,2,3])

True

    5. Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])M

In [44]:
l1 = [10, 20, 33, 46, 55]

In [49]:
[i for i in l1 if i%5==0]

[10, 20, 55]

    6. Write a program to create function¬†calculation()¬†such that it can accept two variables and calculate addition and subtraction. Also, it must¬†return both addition and subtraction in a single return call.
        a. Hint: Separate return values with a comma

In [3]:
def calculation(a,b):
    return (a+b),(a-b)

In [4]:
calculation(10,20)

(30, -10)

    7. Write a program to demonstrate the following Syntax error
        a. SyntaxError: non-default argument follows default argument

In [6]:
def def_demo(x=1,y):
    return x+y

SyntaxError: non-default argument follows default argument (4018145700.py, line 1)

    8. What‚Äôs recursion? Explain in your own words and write a program to create a¬†recursive function to calculate the sum of numbers¬†from 0 to 10

In [12]:
def recursion_demo(a):
    if a == 0:
        return 0
    else:
        return a + recursion_demo(a-1)

In [13]:
recursion_demo(10)

55

9. Use filter and lambda function to calculate square for below numbers only if they are odd number
        a. [12, 11, 53, 22, 21, 77, 87, 88, 98]

In [20]:
inp = [12, 11, 53, 22, 21, 77, 87, 88, 98]

In [23]:
list(map(lambda x: x*x, filter(lambda x : x%2 == 1, inp)))

[121, 2809, 441, 5929, 7569]

 10.  Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [24]:
# convert heights in feet to cms
height_feet = [5, 5.6, 6, 4.7]
height_cms = list(map(lambda x:x*30.48, height_feet))

In [25]:
height_cms

[152.4, 170.688, 182.88, 143.256]